@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

* { 
  box-sizing: border-box !important;
}

body {
  text-transform: capitalize;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
}

.layout-container{
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 150rem !important;
}
// navbar 
.nav-bar {
  background-color: #161880;
}

.active {
  color: #fff !important;
}

// card
.products {
  .swiper {
      height: 60rem !important;
  }

  .swiper-pagination-bullets {
      bottom: 0;
  }

.swiper-pagination-bullet {
  width:1.2rem;
  height: 1.2rem;
}

.swiper-button-prev,.swiper-button-next { 
  font-weight: 600;
  width:  3rem !important;
  height: 3rem !important;
  min-width: 25px !important;
  min-height: 25px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #505050;
  background-color: white;
  top: 45%;
  padding: 2rem;
  &::after {
      color:#505050;
      font-size: 2rem;
      }
}


// product card
.card{
  .card-img-top {
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      &:hover{
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05);
          transition: 1.5s ease;
      }
  }

  .card-body {
      height: 30rem !important;
      display: flex;
      flex-direction: column;
      padding:1rem 2rem;
      justify-content: center;
      flex: 0 0 auto;
      margin-top: 1rem;

  .card-title {
      font-weight: bold;
      font-size: clamp( 11px , 2.5rem , 23px ) !important;
  }
  
  .card-text {
      font-size: clamp( 10px , 2rem , 20px ) !important;
      font-weight: 400;
      margin: 3px 0 !important;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
              line-clamp: 2; 
      -webkit-box-orient: vertical;
  }

  .rating {
      font-size: clamp(10px , 2rem , 20px) !important;
      width: 8.4rem !important;
      min-width: 42px !important;
      margin-bottom: auto;
  }

  .price {
      font-size: clamp(8px , 2rem , 20px) !important;
      font-weight: 900;
      color: #e10600;
      .discount {
          font-weight: 400;
          color: black;
      }
  }

  .product {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: blue;
  }

  .card-btn {
      padding: 1.8rem 0 !important;
      font-size: clamp( 9px , 2rem , 20px );
      font-weight: bold;
      width: 90%;
      margin: 0 auto;
  }

  .img-toggle {
      border: 0;
      padding-right: 0.3rem;
      background-color: transparent;
      margin: 1rem 0;
      &:first-child{
          padding-left: 0 !important;
          margin-left: 0 !important;
      }
  }

  }}}


  // quick view btn
  .quick-view-container .quick-view{
    &:hover{
        opacity: 1;
        z-index: 999;
    }
}
.quick-view {
  position: absolute;
  left:50%;
  top:50%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  transform: translate(-50% );
  
  button {
    background-color: #fff;
      text-decoration: none;
      font-size: clamp(9px , 2rem ,20px);
      width: 15rem;
      min-width: 70px;
      padding: 0.8rem 1rem;
      text-align: center;
      color: black;
      font-weight:500;
      border: solid 0.1rem black;
  }
}

// product details & product quick view
.product-details {
  .swiper {
    height: 24rem;
    min-height: 75px;

    .swiper-slide {
      height: 21rem !important;
      min-height: 60px;
      text-align: center;
    }

    .swiper-wrapper {
      height: 21rem;
      min-height: 70px;
      padding: 0;
      margin: 0;
    }

    .swiper-pagination-bullets {
      bottom: 0;
    }

    .swiper-pagination-bullet {
      width: 1.2rem;
      height: 1.2rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
      width: 3.5rem;
      height: 3.5rem;
      top: clamp(50px, 11rem, 120px);
      &::after {
        color: #030303;
        font-size: 2.5rem;
        font-weight: 800;
      }
    }
  }

  // SECOND COLOUMN
  .card-body {
    color: #797979;
    font-size: 1.5rem;
    font-weight: 500;

    .product-count {
      display: flex;
      align-items: center;
      border: 0.1rem solid black;
      width: 16rem;
      min-width: 50px;

      border-radius: 10rem;
      input[type="number"] {
        background-color: transparent;
        width: 8rem;
        min-width: 25px;
        margin: 0 auto;
        font-weight: 400;
      }
    }

    .card-btn {
      padding: 1rem 0;
      font-size: 2rem;
      font-weight: bold;
      margin: 2rem auto 0 0 !important;
      width: 100%;
      background-color: black;
      color: #fff;
      &:hover {
        color: black;
        background-color: #fff;
      }
    }

    .product-card-title {
      color: black;
      font-weight: 700;
      font-size: clamp(11px, 2.5rem, 25px) !important;
      margin: 0 0 3rem 0 !important;
    }

    .rating-box {
      i {
        font-size: clamp(7px, 2rem, 20px) !important;
        width: 8.3rem !important;
        min-width: 29px !important;
      }
      .in-stock {
        font-size: clamp(7px, 2rem, 20px) !important;
      }
    }

    .product-card-text {
      font-size: clamp(5px, 1.8rem, 20px) !important;
    }
  }
}
// 5 star 
[data-star] {
  text-align:left;
  font-style:normal;
  display:inline-block;
  position: relative;
  unicode-bidi: bidi-override;
}
[data-star]::before { 
    width: auto;
  display:block;
  content: '★★★★★';
  color: #eee;
}
[data-star]::after {
    width: auto;
  white-space:nowrap;
  position:absolute;
  top:0;
  left:0;
  content: '★★★★★';
  width: 0;
  color: #ff8c00;
  overflow:hidden;
  height:100%;
}

[data-star^="0.1"]::after{width:2%}
[data-star^="0.2"]::after{width:4%}
[data-star^="0.3"]::after{width:6%}
[data-star^="0.4"]::after{width:8%}
[data-star^="0.5"]::after{width:10%}
[data-star^="0.6"]::after{width:12%}
[data-star^="0.7"]::after{width:14%}
[data-star^="0.8"]::after{width:16%}
[data-star^="0.9"]::after{width:18%}
[data-star^="1"]::after{width:20%}
[data-star^="1.1"]::after{width:22%}
[data-star^="1.2"]::after{width:24%}
[data-star^="1.3"]::after{width:26%}
[data-star^="1.4"]::after{width:28%}
[data-star^="1.5"]::after{width:30%}
[data-star^="1.6"]::after{width:32%}
[data-star^="1.7"]::after{width:34%}
[data-star^="1.8"]::after{width:36%}
[data-star^="1.9"]::after{width:38%}
[data-star^="2"]::after{width:40%}
[data-star^="2.1"]::after{width:42%}
[data-star^="2.2"]::after{width:44%}
[data-star^="2.3"]::after{width:46%}
[data-star^="2.4"]::after{width:48%}
[data-star^="2.5"]::after{width:50%}
[data-star^="2.6"]::after{width:52%}
[data-star^="2.7"]::after{width:54%}
[data-star^="2.8"]::after{width:56%}
[data-star^="2.9"]::after{width:58%}
[data-star^="3"]::after{width:60%}
[data-star^="3.1"]::after{width:62%}
[data-star^="3.2"]::after{width:64%}
[data-star^="3.3"]::after{width:66%}
[data-star^="3.4"]::after{width:68%}
[data-star^="3.5"]::after{width:70%}
[data-star^="3.6"]::after{width:72%}
[data-star^="3.7"]::after{width:74%}
[data-star^="3.8"]::after{width:76%}
[data-star^="3.9"]::after{width:78%}
[data-star^="4"]::after{width:80%}
[data-star^="4.1"]::after{width:82%}
[data-star^="4.2"]::after{width:84%}
[data-star^="4.3"]::after{width:86%}
[data-star^="4.4"]::after{width:88%}
[data-star^="4.5"]::after{width:90%}
[data-star^="4.6"]::after{width:92%}
[data-star^="4.7"]::after{width:94%}
[data-star^="4.8"]::after{width:96%}
[data-star^="4.9"]::after{width:98%}
[data-star^="5"]::after{width:100%}


// login 
.log-in,
.register {
  position: relative;
  overflow: hidden;
  max-width:70rem;  
  flex-direction: column;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  .title {
    font-size: 5.5rem;
    font-weight: bold;
    margin: 50px 0 20px;
  }
  label {
    font-size: 2.5rem;
    align-self: flex-start;
    padding-bottom: 8px;
    font-weight: 700;
  }
  input {
    width: 100%;
    padding: 1rem;
    border-radius: 9px;
    border: 1px solid lightblue;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
  }
  .btn-login {
    width: 50rem;
    padding: 1.4rem;
    border-radius: 0.9rem;
    background-color: #112e42;
    border: none;
    font-size: clamp(13px,2rem,20px);
    color: #ededed;
    font-weight: bold;
    text-transform: capitalize;
    margin: 2rem 0;
    &:hover {
      background-color: #00abf0;
    }
  }
  .btn-signup {
    width: 20rem;
    padding: 1rem;
    border-radius: 0.9rem;
    text-decoration: underline;
    border: none;
    font-size: 2.5rem;
    color:black;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    &:hover {
      background-color:#00abf0;
    }
  }
  .home {
    color: black;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    font-size: 4rem;
    margin: 1rem 2rem;
    right: 0;
    padding: 0.2rem;
    &:hover{
      color: #00abf0;
    }
  }
}