@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

html {
  font-size: 62.5%;
}

body {
  text-transform: capitalize;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
}

.layout-container{
  display: flex;
  flex-direction: column;
  height: 500vh;
}
.container {
  max-width: 150rem !important;
}
// navbar 
.nav-bar {
  background-color: #161880;
}